.code-editor {
    padding: 10px;
    .btnList {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        justify-content: flex-end;
    }
}
.chooseItem {
    text-decoration: underline;
    color: #1890FF;
    cursor: pointer;
}