@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
}

html {
  /* cursor: url('../public/pointer.ico'), auto; */

  /*
    设置滚动条样式
  */
  /* 自定义滚动条轨道 */

  ::-webkit-scrollbar {
    width: 7px;
    height: 7px;
  }

  ::-webkit-scrollbar-track {
    background-color: #49b1f5;
  }

  /* 自定义滚动条的滑块 */
  ::-webkit-scrollbar-thumb {
    background-color: #dbeffd;
  }

  /* 当滑块悬停或活动时，改变滑块的背景色 */
  ::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }
}